body {
    display: grid;
    place-items: center;
    height: 100vh;
    background: #111;
}

.labyrinth-container {
    display: flex;
}

.labyrinth-container .labyrinth-image {
    width: 640px;
    height: 710px;
    background: url('spritesheet.png');
    background-size: cover;
    background-repeat: no-repeat;
}