body {
    background: #111;
}

.labyrinth-container {
    width: 545px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url(spritesheet.png);
    background-repeat: no-repeat;
    background-size:cover;
    clip:rect(0px,545px,600px,0px);
}