body {
    background: #111;
}

.labyrinth-container {
    width: 545px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url(spritesheet.png);
    background-repeat: no-repeat;
    background-size: cover;
    clip: rect(0px, 545px, 600px, 0px);
}

.pacman-image {
    width: 500px;
    height: 500px;
    background: url(spritesheet.png);
    background-repeat: no-repeat;
    background-position-x: -950px;
    clip: rect(0px, 485px, 14px, 470px);
    background-size: cover;
}

.pacman-container {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}